absl-py==1.0.0
attributee==0.1.7
attrs==21.4.0
bidict==0.22.0
blessings==1.7
cachetools==5.0.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
cycler==0.11.0
Cython==0.29.28
dominate==2.6.0
easydict==1.9
einops==0.4.1
fonttools==4.32.0
google-auth==2.6.5
google-auth-oauthlib==0.4.6
gpustat==0.6.0
grpcio==1.44.0
idna==3.3
imageio==2.17.0
importlib-metadata==4.11.3
importlib-resources==5.7.1
jedi==0.18.1
jpeg4py==0.1.4
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.4.0
kiwisolver==1.4.2
llvmlite==0.38.0
lmdb==1.3.0
Markdown==3.3.6
matplotlib==3.5.1
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626179032232/work
mkl-service==2.4.0
networkx==2.6.3
ninja==1.10.2.3
numba==0.55.1
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1649782762302/work
nvidia-ml-py3==7.352.0
oauthlib==3.2.0
onnx==1.11.0
onnxruntime-gpu==1.6.0
opencv-python==4.5.5.64
ordered-set==4.1.0
packaging==21.3
pandas==1.3.5
parso==0.8.3
phx-class-registry==3.0.5
Pillow==9.0.1
protobuf==3.20.0
psutil==5.9.0
pudb==2022.1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pycparser==2.21
Pygments==2.11.2
PyLaTeX==1.4.1
pyparsing==3.0.8
pyrsistent==0.18.1
python-dateutil==2.8.2
pytz==2022.1
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==22.3.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
scikit-image==0.19.2
scipy==1.7.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
spatial-correlation-sampler @ git+https://gitee.com/chao-sun/Pytorch-Correlation-extension.git@3e8ce16124844cd7892ec965cf0ad18fdd8e6a02
tb-nightly==2.9.0a20220417
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
thop @ git+https://github.com/Lyken17/pytorch-OpCounter.git@509fb7e7e48faaddd4b436371ccd39ede77f1f4a
tifffile==2021.11.2
tikzplotlib==0.10.1
timm==0.3.2
torch==1.10.1
torchaudio==0.10.1
torchfile==0.1.0
torchvision==0.11.2
tornado==6.1
tqdm @ file:///opt/conda/conda-bld/tqdm_1647339053476/work
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
urllib3==1.26.9
urwid==2.1.2
urwid-readline==0.13
visdom==0.1.8.9
vot-toolkit @ git+https://gitee.com/chao-sun/vot-toolkit-python.git@9d9bc70d66d16f47c0bd8faa4fec47a14c8f100a
vot-trax==3.0.3
webcolors==1.11.1
websocket-client==1.3.2
Werkzeug==2.1.1
yacs==0.1.8
zipp==3.8.0
